{% load static %}
{% load shop_tags %}

{% if page_data %}
<div class="page-data">
    {% if page_data.header_1 %}
        <div class="page-data-header">
            <h3>{{ page_data.header_1 }}</h3>
        </div>
    {% endif %}

    {% if page_data.text_1 or page_data.image_1 %}
        <div class="page-data-section">
            {% if page_data.text_1 %}
                <div class="page-data-text">
                    {{ page_data.text_1 }}
                </div>
            {% endif %}
            {% if page_data.image_1 %}
                <img class="page-data-image" src="{{ page_data.image_1.url }}">
            {% endif %}
        </div>
    {% endif %}

    {% if page_data.banner %}
        <img class="banner" src="{{ page_data.banner.url }}">
    {% endif %}

    {% if page_data.header_2 %}
        <div class="page-data-header">
            <h3>{{ page_data.header_2 }}</h3>
        </div>
    {% endif %}

    {% if page_data.text_2 or page_data.image_2 %}
        <div class="page-data-section">
            {% if page_data.text_2 %}
                <div class="page-data-text">
                    {{ page_data.text_2 }}
                </div>
            {% endif %}
            {% if page_data.image_2 %}
                <img class="page-data-image" src="{{ page_data.image_2.url }}">
            {% endif %}
        </div>
    {% endif %}

</div>
{% endif %}