{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--        <script type="text/javascript" src="{% static 'shop/js/base.js' %}" charset="UTF-8"></script>-->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
        <script type="text/javascript" src="{% static 'shop/js/cart_base.js' %}" charset="UTF-8"></script>
    </head>
    <body>
        {% include 'a_shop/samples/navbar.html' %}
        {% include 'a_shop/samples/login_modal.html' %}
        {% include 'a_shop/samples/register_modal.html' %}
        {% block content %}
        {% endblock %}
    <script type="text/javascript" src="{% static 'shop/js/cart.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.bundle.js' %}"></script>
    </body>
</html>