{% extends 'a_shop/base.html' %}
{% load static %}

{% block content %}
    <div class="container account-font-size pt-2">
        {% if order.get_order_items %}
        <div class="row">
            <form id="form" method="post" class="col-10">
                {% csrf_token %}
                <div
                        class="d-flex flex-row flex-wrap justify-content-around"
                        style="width:75vw; max-width:900px"
                >
                    {{ checkout_form.as_p }}
                </div>
                <button
                        id="form-button"
                        class="btn btn-secondary btn-sm mb-2"
                        type="submit"
                >
                    Оплатити
                </button>

            </form>
            <hr class="bg-black w-100">
        </div>
        {% endif %}

        {% include 'a_shop/samples/cart_sample.html' %}
    </div>

{% endblock %}