{% load static %}

.custom-font-size{
    font-size: min(calc(10px + 0.9vw), 16px);
}
.account-font-size{
    font-size: min(calc(6px + 0.9vw), 16px);
}

/* new star rating */
@import "compass/css3";

$rad: 8px;

.rating {
	background: #fff;
}
.rating input[type="radio"] {
	position: fixed;
	top: 0;
	right: 100%;
}
.rating label {
	font-size: 1.5em;
	padding: 0.5em;
	margin: 0;
	float: left;
	cursor: pointer;
	@include transition(0.2s);
}
.rating input[type="radio"]:checked ~ input + label {
	background: none;
	color: #004C99;
}
.rating input + label {
	background: #fff;
	color: gold;
	margin: 0 0 1em 0;
}
.rating input + label:first-of-type {
	border-top-left-radius: $rad;
	border-bottom-left-radius: $rad;
}
.rating input:checked + label {
	border-top-right-radius: $rad;
	border-bottom-right-radius: $rad;
}
/* end new star rating */

#id_review_text {
    width: 100%;
}

.like-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    color: #0000cc;
    cursor: pointer;
}

.like-button img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(200,200,200);
    width: 95%;
    margin: 10px;
}

.product-photo {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    max-height: 100%;
    margin: 10px;
}

/* readonly star rating */
.star-ratings-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 18px;
  height: 25px;
  width: 80px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
}
.star-ratings-css::before {
  content: '★★★★★';
  opacity: .3;
}

[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 10%;
}
[title="2"]::after {
  width: 20%;
}
[title="3"]::after {
  width: 30%;
}
[title="4"]::after {
  width: 40%;
}
[title="5"]::after {
  width: 50%;
}
[title="6"]::after {
  width: 60%;
}
[title="7"]::after {
  width: 70%;
}
[title="8"]::after {
  width: 80%;
}
[title="9"]::after {
  width: 90%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}
/* end readonly star rating */

#product-in-cart {
    display: none;
    color: green;
}

/* account page */
.user-account-form {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
.user-account-form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.user-account-form input {
    border: none;
    border-radius: 3px;
    background-color: rgb(180,180,180);
}