{% load static %}
{% load shop_tags %}

<div class="w-100 p-3" style="background-color: #eee;">
  <div class="row">

      {% if products %}
      {% for product in products %}
    <div class="col-md-6 col-lg-6 col-xl-4 mb-4 mb-lg-2 mx-0 h-100">
      <div class="card w-100 h-100">
        <h5 class="mb-0 text-center">{{ product.0.name | hide_brackets }}</h5>
        <a href="{{ product.0.get_absolute_url }}">
          {% if product.1 %}
            <img
                    src="{{ product.1.url }}"
                    class="card-img-top mw-100 mh-50"
                    alt="Laptop"
            >
          {% else %}
            <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                    class="card-img-top mw-100 h-50"
                    alt="Laptop"
            >
          {% endif %}
        </a>
        <div class="card-body d-flex flex-column w-100">

          <div class="d-flex justify-content-center mb-3">
            <h5 class="text-dark mb-0">{{ product.0.price }}</h5>
          </div>

          <div class="d-flex flex-row justify-content-between align-items-center mb-1 me-0 w-100">
            <div class="pw-2"><a href="{% url 'shop:category' product.0.category.slug %}" class="text-muted fx-6">{{ product.0.category }}</a></div>

            <div class="small text-muted fx-6">
                {% if product.0.sold %}Товар відсутній{% else %}В наявності{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
      {% endif %}
  </div>
</div>


{% include 'a_shop/samples/paginator.html' %}
